<form [formGroup]="addCollectionForm" (ngSubmit)="onAdd()">
  <div class="form-group">
    <div class="input-group">
      <input
        class="form-control"
        formControlName="name"
        placeholder="Enter name">
      <div class="input-group-append">
        <button type="submit" class="btn btn-success"><span class="oi oi-plus"></span></button>
      </div>
    </div>
    <small
      class="form-text text-danger"
      *ngIf="!addCollectionForm.get('name').valid && addCollectionForm.get('name').touched">
      At least 3 characters required
    </small>
  </div>
</form>
