/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 65px;
}

div.card.hover:hover {
  transition: all 0.5s ease;
  color: white;
  background-color: #7db8ff;
}

.hover {
  display: none;
}

.card:hover .hover {
  float: right;
  display: block;
}

